.item {
    margin: 1rem 0;
  }
  
  .image {
    width: 100%;
    height: 10rem;
    overflow: hidden;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
  }
  
  .image img {
    width: 100%;
    object-fit: cover;
  }
  
  .content {
    text-align: center;
    padding: 0rem;
  }
  
  .content h3 {
    font-size: 1.0rem;
    color: #2c292b;
  }

  .row{
    align-items: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .scrollable {
    margin:4px, 4px;
    padding:4px;
    background-color: white;
    width: 1500px;
    height: 500px;
    overflow-x: auto;
    overflow-y: scroll;
    text-align:justify;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .solid {
    border-top: 8px solid #bbb;
    border-radius: 5px;
  }